<div class="row">
  <div class="col-sm-12">
    <!-- Basic table card start -->
    <app-card [title]="'Product'" [targetForComponent]="routerComponent" [classHeader]="true" [blockClass]="'table-border-style'">

    </app-card>
    <app-card>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let brand of brandList">
            <th scope="row">{{brand.brand_id}}</th>
            <td>{{brand.brand_name}}</td>
            <td>{{brand.brand_type_name}}</td>
            <td>{{brand.status}}</td>
            <td>
              <a mat-list-item [routerLink]="['/inventory/brands-form/'+brand.brand_id]" class="checkcss">
                <div class="align-cont">
                  <div class="text-style" > <span >Edit</span> </div>
                </div>
              </a>
              <a mat-list-item [routerLink]="" (click)="deleteBrand(brand.brand_id)"  class="checkcss">
                <div class="align-cont">
                  <div class="text-style" > <span >Delete</span> </div>
                </div>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
    <!-- Background Utilities table end -->
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
