<app-card>
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form [formGroup]="brandForm" class="md-float-material">
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">{{componentName}}</h3>
                </div>
              </div>
              <hr/>
              <input formControlName="brand_id"  hidden type="text" class="form-control">

              <div class="form-group">
                <input formControlName="brand_name"  type="text" class="form-control" placeholder="Brand Name">
                <span class="md-line"></span>
              </div>
              <!--
              <div class="input-group">
                <input formControlName="brand_type" type="text" class="form-control" placeholder="Brand Type">
                <span class="md-line"></span>
              </div>

              <div ngbDropdown class="input-group">

              </div>-->

              <div class="form-group">
                <select #brand_type class="form-control" formControlName="brand_type">
                  <option selected [value]="">Please Select Brand Type</option>
                  <option *ngFor="let lovmap of lovMapForBrandType"   [value]="lovmap.key" >{{lovmap.label}}</option>
                </select>
              </div>
              <div class="form-group">
                <select #status class="form-control" formControlName="status">
                  <option selected [value]="">Please Select Brand Type</option>
                  <option *ngFor="let lovmap of lovMapForStatus"  [value]="lovmap.key" >{{lovmap.label}}</option>
                </select>
              </div>


              <!--<div class="input-group">
                <select class="dropdown"  formControlName="brand_type" [(ngModel)]="selected" name="brand_type" placeholder="select" (ngModelChange)="onOptionsSelected()">
                  <option [ngValue]="">select </option>
                  <option *ngFor="let sta of lovMapForBrandType" [ngValue]="sta.value">{{sta.label}}</option>
                </select>
              </div>-->
              <div class="input-group">
              </div>

              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" (click)="saveBrand()">Save</button>
                </div>
              </div>
              <hr/>
              <input formControlName="modified_date" hidden type="text" class="form-control">
              <input formControlName="modified_by" hidden type="text" class="form-control">
              <input formControlName="created_date" hidden type="text" class="form-control">
              <input formControlName="created_by" hidden type="text" class="form-control">

            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
      <p style="color: white">Please Wait. </p>
    </ngx-spinner>
</app-card>
