<p-toast></p-toast>

<div class="container" *ngIf="spinner">
  <div class="spinner-container">
    <p-progressSpinner styleClass="spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
  </div>
</div>

<div *ngIf="!base64" [ngClass]="{ 'blur-background': spinner }">
  <div class="app-card">
    <h2>Bill Information</h2>
    <div class="form-group row">
      <div class="col-md-3">
        <div class="field">
          <label for="billNo">Bill No</label>
          <input type="text" class="input-field" id="billNo" [(ngModel)]="kcpBill.billNo" required autofocus />
        </div>
      </div>

      <div class="col-md-3">
        <div class="field">
          <label for="workOrderNo">Work Order No</label>
          <input type="text" class="input-field" id="workOrderNo" [(ngModel)]="kcpBill.workOrderNo" required autofocus />
        </div>
      </div>
      <div class="col-md-3">
        <div class="field">
          <label for="vehicleNo">Vehicle No</label>
          <input type="text" class="input-field" id="vehicleNo" [(ngModel)]="kcpBill.vehicleNo" required autofocus />
        </div>
      </div>
      <div class="col-md-3">
        <div class="field">
          <label for="date">Date</label>
          <input type="date" class="input-field" id="date" [(ngModel)]="kcpBill.date" required autofocus />
        </div>
      </div>
    </div>
  </div>

  <div class="app-card">
    <h2>Parts Details</h2>
    <div class="button-group">
      <p-button type="button" icon="pi pi-plus" (click)="addRowPartLine()" styleClass="p-button-text"></p-button>
      <p-button type="button" icon="pi pi-minus" (click)="deleteRow('part')" styleClass="p-button-text"></p-button>
    </div>
    <jqxGrid #dataTable (onRowselect)="OnRowSelect($event)" [width]="'100%'"
             [source]="dataAdapter" [columns]="columns"
             (onCellendedit)="calculatePartsBill()" [autoheight]='true'
             [theme]="'office'" [sortable]="true" [filterable]="true" [editable]="true" [selectionmode]="'checkbox'" >
    </jqxGrid>
    <div class="form-group row" style="padding-top: 2rem;">
      <div class="col-md-12 d-flex justify-content-end">
        <div class="field">
          <label for="totalPartsBill">Parts Total Bill</label>
        </div>
        <div class="field" style="padding-left: 2rem">
          <input type="text" disabled class="input-field" id="totalPartsBill" [(ngModel)]="kcpBill.totalPartsBill" required autofocus />
        </div>
      </div>
    </div>
  </div>

  <div class="app-card">
    <h2>Labour Rates</h2>
    <div class="button-group">
      <p-button type="button" icon="pi pi-plus" (click)="addRowLabourRateLine()" styleClass="p-button-text"></p-button>
      <p-button type="button" icon="pi pi-minus" (click)="deleteRow('Labour')" styleClass="p-button-text"></p-button>
    </div>
    <jqxGrid #labourRateDataTable (onCellvaluechanged)="OnRowSelect($event)" [autoheight]='true' [width]="'100%'"
             [source]="dataAdapter" [columns]="labourRateColumns" (onRowdoubleclick)="onRowDobleClick($event)"
             [theme]="'office'" [sortable]="true" (onCellendedit)="calculateCurrentRateSum()"
             [filterable]="true" [editable]="true" [selectionmode]="'checkbox'" >
    </jqxGrid>
    <div class="form-group row" style="padding-top: 2rem;">
      <div class="col-md-12 d-flex justify-content-end">
        <div class="field">
          <label for="totalLabourBill">Labour Total</label>
        </div>

        <div class="field" style="padding-left: 2rem">
          <input type="text" disabled class="input-field" id="totalLabourBill" [(ngModel)]="kcpBill.totalLabourBill" required autofocus />
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row" style="padding-top: 2rem;">
    <div class="col-md-6 d-flex justify-content-start">
      <div class="field">
        <p-button type="button" class="button-page" (click)="saveEntity()">Save</p-button>
      </div>
      <div *ngIf="!id" class="field" style="padding-left: 2rem">
        <p-button type="button" class="button-page" (click)="resetForm()">Reset</p-button>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <div class="field">
        <label for="totalBill">Grand Total</label>
      </div>
      <div class="field" style="padding-left: 2rem">
        <input type="text" disabled class="input-field" id="totalBill" [(ngModel)]="kcpBill.totalBill" required autofocus />
      </div>
    </div>
  </div>
</div>

<app-card>
  <jqxButton *ngIf="base64" class="btn-secondary" (click)="CancelPdf()">Cancel</jqxButton>
  <iframe *ngIf="base64" [src]="getPdfDataUrl()" width="100%" height="600"></iframe>
</app-card>
